<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jike.dao.PicInfoMapper" >
  <resultMap id="BaseResultMap" type="com.jike.entity.PicInfo" >
    <id column="p_id" property="pId" jdbcType="INTEGER" />
    <result column="r_id" property="rId" jdbcType="INTEGER" />
    <result column="p_suffix" property="pSuffix" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    p_id, r_id, p_suffix
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_pic_info
    where p_id = #{pId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_pic_info
    where p_id = #{pId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jike.entity.PicInfo" >
    insert into t_pic_info (p_id, r_id, p_suffix
      )
    values (#{pId,jdbcType=INTEGER}, #{rId,jdbcType=INTEGER}, #{pSuffix,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jike.entity.PicInfo" >
    insert into t_pic_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pId != null" >
        p_id,
      </if>
      <if test="rId != null" >
        r_id,
      </if>
      <if test="pSuffix != null" >
        p_suffix,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pId != null" >
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="rId != null" >
        #{rId,jdbcType=INTEGER},
      </if>
      <if test="pSuffix != null" >
        #{pSuffix,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jike.entity.PicInfo" >
    update t_pic_info
    <set >
      <if test="rId != null" >
        r_id = #{rId,jdbcType=INTEGER},
      </if>
      <if test="pSuffix != null" >
        p_suffix = #{pSuffix,jdbcType=VARCHAR},
      </if>
    </set>
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jike.entity.PicInfo" >
    update t_pic_info
    set r_id = #{rId,jdbcType=INTEGER},
      p_suffix = #{pSuffix,jdbcType=VARCHAR}
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
</mapper>