<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jike.dao.RecordInfoMapper">
	<resultMap id="BaseResultMap" type="com.jike.entity.RecordInfo">
		<id column="r_id" property="rId" jdbcType="INTEGER" />
		<result column="u_id" property="uId" jdbcType="INTEGER" />
		<result column="r_date" property="rDate" jdbcType="TIMESTAMP" />
		<result column="r_delete" property="rDelete" jdbcType="INTEGER" />
		<result column="r_label" property="rLabel" jdbcType="INTEGER" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.jike.entity.RecordInfo"
		extends="BaseResultMap">
		<result column="r_content" property="rContent" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		r_id, u_id, r_date, r_delete, r_label
	</sql>
	<sql id="Blob_Column_List">
		r_content
	</sql>
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from t_record_info
		where r_id = #{rId,jdbcType=INTEGER}
	</select>
	<select id="selectByUser" parameterType="java.lang.Integer"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from t_record_info
		where u_id=#{uId,jdbcType=INTEGER} and r_delete='1'
	</select>
	<select id="selectByUserAndKey"	resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from t_record_info
		where  r_label=#{rLabel,jdbcType=INTEGER} and u_id=#{uId,jdbcType=INTEGER}  and r_Delete='1'
	
	</select>
	<select id="selectNewInfo" parameterType="com.jike.entity.RecordInfo"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from t_record_info
		where u_id=#{uId,jdbcType=INTEGER} and UNIX_TIMESTAMP(r_date)=UNIX_TIMESTAMP(#{rDate,jdbcType=TIMESTAMP})
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_record_info
		where r_id = #{rId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.jike.entity.RecordInfo">
		insert into t_record_info
		(r_id, u_id, r_date,
		r_delete, r_label, r_content
		)
		values
		(#{rId,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER},
		#{rDate,jdbcType=TIMESTAMP},
		#{rDelete,jdbcType=INTEGER},
		#{rLabel,jdbcType=INTEGER}, #{rContent,jdbcType=LONGVARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.jike.entity.RecordInfo">
		insert into t_record_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uId != null">
				u_id,
			</if>
			<if test="rDate != null">
				r_date,
			</if>
			<if test="rDelete != null">
				r_delete,
			</if>
			<if test="rLabel != null">
				r_label,
			</if>
			<if test="rContent != null">
				r_content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uId != null">
				#{uId,jdbcType=INTEGER},
			</if>
			<if test="rDate != null">
				#{rDate,jdbcType=TIMESTAMP},
			</if>
			<if test="rDelete != null">
				#{rDelete,jdbcType=INTEGER},
			</if>
			<if test="rLabel != null">
				#{rLabel,jdbcType=INTEGER},
			</if>
			<if test="rContent != null">
				#{rContent,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.jike.entity.RecordInfo">
		update t_record_info
		<set>
			<if test="rDate != null">
				r_date = #{rDate,jdbcType=TIMESTAMP},
			</if>
			<if test="rDelete != null">
				r_delete = #{rDelete,jdbcType=INTEGER},
			</if>
			<if test="rLabel != null">
				r_label = #{rLabel,jdbcType=INTEGER},
			</if>
			<if test="rContent != null">
				r_content = #{rContent,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where r_id = #{rId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jike.entity.RecordInfo">
		update
		t_record_info
		set u_id = #{uId,jdbcType=INTEGER},
		r_date =
		#{rDate,jdbcType=TIMESTAMP},
		r_delete = #{rDelete,jdbcType=INTEGER},
		r_label = #{rLabel,jdbcType=INTEGER},
		r_content =
		#{rContent,jdbcType=LONGVARCHAR}
		where r_id = #{rId,jdbcType=INTEGER}
	</update>
	<update id="updated" parameterType="com.jike.entity.RecordInfo">
		update
		t_record_info
		set r_delete = '0'
		where r_id = #{rId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jike.entity.RecordInfo">
		update
		t_record_info
		set u_id = #{uId,jdbcType=INTEGER},
		r_date =
		#{rDate,jdbcType=TIMESTAMP},
		r_delete = #{rDelete,jdbcType=INTEGER},
		r_label = #{rLabel,jdbcType=INTEGER}
		where r_id =
		#{rId,jdbcType=INTEGER}
	</update>
</mapper>